<section class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="p-2">Column 1</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi deleniti, excepturi doloremque id veritatis, corporis provident commodi non quam aperiam at numquam pariatur voluptate reiciendis neque velit sapiente cum vero..</p>
    </div>
    <div class="col-md-4">
      <h2 class="p-2">Column 2</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit dignissimos praesentium nisi similique excepturi at velit, iusto alias inventore. Dolorum iure et at necessitatibus possimus, suscipit omnis magnam maiores?</p>
    </div>
    <div class="col-md-4">
      <h2 class="p-2">Column 3</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint illo quos ullam cumque libero voluptatibus. Fugit soluta facilis fugiat porro vitae ullam deserunt pariatur, accusamus possimus esse vel harum.</p>
    </div>
  </div>
</section>
